body{
  overflow: hidden;
}

.carousel-caption {
  height: 100%;
}
.carousel-inner{
  height: 100%;
}
.carousel-item{
  height: 100%;
}
.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: unset;
  height: 100%;
}
.carousel{
  height: 100%;
}

.news-theme-card-3{
  background: url("https://secure.gravatar.com/avatar/51d04b96ad13b78a9e460d2311ee1e52?s=320&d=retro&r=pg") right no-repeat;  /* Old browsers */
  background: -moz-linear-gradient(45deg, #8f51d4 0%, #5b8ad6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #8f51d4 0%,#5b8ad6 100%); /* Chrome10-25,Safari5.1-6 */
  background: url("/src/assets/img/bitcoin.png") center, linear-gradient(45deg, #8f51d4 0%,#5b8ad6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f51d4', endColorstr='#5b8ad6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-size: cover;
}
.news-theme-card-2{
  background: #ea4073; /* Old browsers */
  background: -moz-linear-gradient(45deg, #ea4073 0%, #7a44cf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ea4073 0%,#7a44cf 100%); /* Chrome10-25,Safari5.1-6 */
  background: url("/src/assets/img/technology.png") center, linear-gradient(45deg, #ea4073 0%,#7a44cf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea4073', endColorstr='#7a44cf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-size: cover;
}
.news-theme-card-1{
  background: #f09b42; /* Old browsers */
  background: -moz-linear-gradient(45deg, #f09b42 0%, #ea4073 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f09b42 0%,#ea4073 100%); /* Chrome10-25,Safari5.1-6 */
  background: url("/src/assets/img/health.png")  center, linear-gradient(45deg, #f09b42 0%,#ea4073 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09b42', endColorstr='#ea4073',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-size: cover;
}
.news-theme-card-0{
  background: #f1f243; /* Old browsers */
  background: -moz-linear-gradient(45deg, #f1f243 0%, #ea6e41 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f1f243 0%,#ea6e41 100%); /* Chrome10-25,Safari5.1-6 */
  background: url("/src/assets/img/entertainment.png") center, linear-gradient(45deg, #f1f243 0%,#ea6e41 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f243', endColorstr='#ea6e41',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-size: cover;
}
.card-text{
  font-size: 13px;
}
.news-row{
  height: 50px;
}
.themeHeightLong{
  height: 300px;
  transition: all 1s;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.07);
  h1{
    transition: all 1s;
  }
  .carousel-indicators li{
    width: 30px;
    transition: all 1s;
  }
}
.themeHeightShort{
  height: 70px;
  transition: all 1s;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.07);
  .carousel-indicators li{
    width: 20px;
    transition: all 1s;
  }
  h1{
    font-size: 25px;
    font-weight: 500;
    transition: all 1s;
  }
}
.carousel-indicators{
  bottom: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10;
}
a{
  color: #42b983;
}
.news-logo {
  height: 30px;
  width: 30px;
}
.card:hover {
  background: #24292d !important;
}
.post-scroll {
  height: 90vh;
  overflow-y: scroll;
  padding: unset;
}
.post-scroll-card{
  height: 100vh;
  overflow-y: scroll;
  padding: 0 15px 0 0;
}
.card-body{
  padding: unset;
  h1, h6, p{
    padding-left: 15px;
    padding-right: 15px;
  }
}
.card:hover {
  background: unset !important;
}
.animated {
  -webkit-animation-duration: 300ms;
  -moz-animation-duration: 300ms;
  animation-duration: 300ms;
}
.news-date-from{
  background: rgba(0, 0, 0, 0.2);
  height: 30px;
  border-radius: 20px;
  font-size: 12px;
  padding: 6px;
  margin-right: 10px;
  cursor: default;
}
